# change file to .env and
# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database

# `openssl rand -base64 32`
AUTH_SECRET=change me
AUTH_URL=http://localhost:3000/api/auth